extends layout

block content
    form(method='POST' action='')
        div.form-group
            label(for='manager') Manager:
            select#manager.form-control(name="manager" rows='3')
                option !{manager}
        div.form-group
            label(for='title') Title:
            input#title.form-control(type='text' name='title')
        div.form-group
            label(for='summary') Summary:
            textarea#summary.form-control(rows='3' name='summary')
        button.btn.btn-primary(type='submit') Submit