extends layout

block content
    - var hr = "/ticket/create/user/" + user;
    p(style="text-align:right") Hello, user: !{user}
    if user === "hailn2"
        p(style="text-align:right")
            a(href=hr) Add Request
    table(class="table table-sm")
        if user === 'hailn2'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Created On
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                        td= val.time
                        td= val.summary

        if user === 'it'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Created On
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                        td= val.time
                        td= val.summary

        if user === 'manager1'
            thead(class="thead-dark")
                tr
                    th(scope="col") Id
                    th(scope="col") User
                    th(scope="col") Status
                    th(scope="col") Created On
                    th(scope="col") Summary
            tbody 
                each  val, key in data
                    tr
                        td= val.id
                        td= val.user 
                        td= val.status 
                            if val.status === 'Waiting'
                                - var hr_approve = "/ticket/approve/user/" + user + "/id/" + val.id;
                                strong 
                                    a(href=hr_approve) APPROVE 
                        td= val.time
                        td= val.summary



    footer 
        p(style="text-align:center") ©Copyright by LeHai. All rights reserved
     
